.gallery {
  max-width: 1400px;
  min-width: 320px;
  min-height: 250px;
  margin: 10px auto;
  padding: 15px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3); }
  .gallery div {
    padding: 5px; }
    .gallery div img {
      width: 30vw;
      height: 35vh;
      display: block;
      transition: .1s transform;
      transform: translateZ(0);
      /* hack */ }
  .gallery div:active {
    z-index: 1; }
    .gallery div:active img {
      transform: scale(1.7, 1.7);
      transition: .3s transform; }

.inEdit {
  border: dashed 1px #428bca; }

.uploader {
  display: flex;
  flex-flow: row wrap;
  width: 450px;
  max-width: 450px;
  justify-content: space-around;
  align-items: center;
  top: 250px;
  left: -447px;
  position: absolute;
  z-index: 200;
  background: rgba(100, 121, 121, 0.29);
  border-radius: 0 10% 10% 0;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  transform: translateX(0%); }
  .uploader button {
    transform: rotate(90deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    right: -84px;
    bottom: 170px;
    position: absolute; }
  .uploader .btn-upload {
    background-color: #333;
    color: white; }

.slide-right {
  animation: slide-right 0.5s forwards; }

.slide-left {
  animation: slide-left 0.5s backwards; }

@keyframes slide-right {
  100% {
    transform: translateX(432px); } }

@keyframes slide-left {
  0% {
    transform: translateX(432px); }
  100% {
    transform: translateX(0px); } }
