.widgets {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  top: 50px;
  right: 5px;
  position: fixed;
  z-index: 200;
  margin: 5px;
  background: rgba(100, 121, 121, 0.29);
  border-radius: 10%;
  padding: 10px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center; }

.btn {
  font-size: 1.2em;
  width: 80%; }

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  overflow-x: hidden;
  background-size: cover; }

.user-url-msg {
  display: block;
  padding: 20px;
  height: 300px;
  animation: slide-out 0.5s forwards;
  background-color: rgba(153, 144, 144, 0.9);
  border-radius: 20px;
  opacity: 1;
  transition: width 1.2s;
  text-align: center;
  z-index: 999;
  margin: 5% 20%;
  position: fixed; }
  .user-url-msg button {
    width: 150px; }

.inEdit {
  border: dashed 1px #428bca; }

/*    "build-css": "node-sass scss/main.scss public/css/styles.css",
*/
