.screen {
  display: flex;
  flex-flow: row nowrap; }

.frame {
  display: flex;
  height: 90vh;
  width: 100%;
  flex-flow: column nowrap;
  border: 4px outset brown;
  margin: 5px;
  align-items: center; }
